@import "tailwindcss";




html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter);
  /* Do not set background or color here, let Tailwind handle it via classes on <html> */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins);
}
